<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Two Way Bindings and Class and Style</title>
    <script src="../Lib/vue.js"></script>
    <style>
        .demo {
            width: 100px;
            height: 100px;
            background-color: yellow;
        }
        .demo.active {
            background-color: blue;
        }
        .demo.error {
            background-color: red;
        }
        
    </style>
</head>
<body>
    <!-- v-model -->
    <div id="app">
        <!-- <div v-bind:style="{ backgroundImage: background }"> -->
        <div v-bind:style="{ backgroundImage: background }">

        <div v-bind:style="objectStyle">
            <h1> FirstName = {{firstName}} </h1>
            <p> {{about}} </p>
            <input v-model="firstName" type="text" placeholder="Input firstName">
            <br>
            <textarea v-model="about" col="30" row="60"> </textarea>
            <!-- <div v-bind:class="'demo-' + textClass + 'error'"></div> -->
            <button v-on:click="changeActive">Change Active</button>
            <button v-on:click="changeError">Change Error</button>
            <div 
                class="demo" v-bind:class="objectClass"
            
            ></div>

            <hr>
            <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px', marginTop: '10px' }">
                Test Style Bindings
            </div>
        </div>


    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            firstName: 'Huynh',
            about: '...',
            textClass: 'active',
            isActive: false,
            isError: true,

            activeColor: 'black',
            fontSize: 20,
            itachi: 'https://www.google.com/'
        },
        methods: {
            changeActive() {
                this.isActive = !this.isActive;
            },
            changeError() {
                this.isError = !this.isError;
            }
        },
        computed: {
            objectClass: function() {
                return {
                    active: this.isActive,
                    error: this.isError
                }
            },
            background() {
                return 'url(' + this.itachi + ')'; 
            },
            objectStyle: function() {
                return {
                    backgroundImage: 'url(' + this.itachi + ')',
                    margiin: '10px',
                    paddingLeft: '30px'
                }
            }
        }

    })
</script>
</html>