<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../Lib/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
    <div id="obj">
        <p> {{ content }} </p>
    </div>
    <script>
        new Vue({
            el : '#obj',
            data: {
                content: 'Hello world! Vuejs',
            }
        });
    </script>
<body>
    <header><h1> Header </h1></header>
    <div class="first-log">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi sunt eveniet maxime magni in, nostrum
            facilis, temporibus, quam facere sint est blanditiis harum dicta. Tempore suscipit ut hic. Deleniti,
            qui.</p>
    </div>
    <div id = "app">
        <div class = "cart"></div>
        <div class = "product"></div>
            <div class = "product_image">
                <!-- <div class="image">
                    <img v-bind:src="getProduct.image" alt="">
                </div> -->
                <div class = "product_content">
                    <h3 class = "title">
                        <a v-bind:href="url" v-bind:target="target"> {{ title }} </a>
                    </h3>
                    <h3>
                        <p class="brand">Thương hiệu: No brand</p>
                        <div class = "final-price"> {{ formatPrice() }} </div>
                        <div></div>
                        <!-- <p class="quantity" v-if="getProduct.quantity > 0">Còn lại: {{ getProduct.quantity }} Sản phẩm</p>
                        <p class="quantity" v-if="getProduct.quantity <= 0">Sản phẩm đã hết hàng</p> -->
                    </h3>
                </div>
            </div>

    </div>
    <footer><h1> Footer </h1></footer>
    <!-- <script src="main.js"></script> -->
</body>
<script src="main.js"></script>
</html>