<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loop Vuejs</title>
    <script src="../Lib/vue.js"></script>
    <style>
        .list-animal {
            display: flex;
            flex-wrap: wrap;
        }
        .list-animal .animal {
            width: 21%;
            margin: 2px;
            border:  1px solid #000;
        }
        .animal .title {
            font-weight: 700;
            font-size: 18px;
            color: blue;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- Please refer to parse_Loops_for_to_js to understand more about loop with condition in js -->
        <!-- <div class="user" v-for="user in listUser" v-if="user.isActive === true"> {{user.email }} </div> -->
        <!-- Used computed instead -->
        <div class="user" v-for="user in userActive"> {{user.email }} </div>
        <ul>
            <li v-for="(value, x) in score" > {{ x }} : {{ value }} </li>
        </ul>
        <div class="list-animal">
            <div v-for="(obj, index) in listAnimals"  class="animal" v-bind:key="index">
                <div class="title"> {{obj.name}} </div>
                <div class="description"> {{index}}.{{obj.description}} </div>
            </div>
        </div>
        <ul id="render">
            
        </ul>

    </div>
    
</body>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                listUser: [
                    { email: "test1@gamil.com", isActive: false },
                    { email: "test1@gamil.com", isActive: false },
                    { email: "test1@gamil.com", isActive: false },
                    { email: "test31@gamil.com", isActive: true },
                    { email: "test1@gamil.com", isActive: true },
                    { email: "test12@gamil.com", isActive: true },
                ],
                score: {
                    math: 9.0,
                    english: 8.5,
                    physics: 8.0
                },
                listAnimals: 
                [
                    {
                    "name": "Meowsy",
                    "species" : "cat",
                    "foods": {
                        "likes": ["tuna", "catnip"],
                        "dislikes": ["ham", "zucchini"]
                    },
                    "description": "this cat like tuna"
                    },
                    {
                    "name": "Barky",
                    "species" : "dog",
                    "foods": {
                        "likes": ["bones", "carrots"],
                        "dislikes": ["tuna"]
                    },
                    "description": "this dog pig bone"
                    },
                    {
                    "name": "Purrpaws",
                    "species" : "cat",
                    "foods": {
                        "likes": ["mice"],
                        "dislikes": ["cookies"]
                    },
                    "description": "this cat like mice"
                    },
                    {
                    "name": "Tom",
                    "species" : "tiger",
                    "foods": {
                        "likes": ["meat", "chicken"],
                        "dislikes": ["water", "boring"]
                    },
                    "description": "this tiger is cute and it say Grrr!"
                    },
                    {
                    "name": "Jerry",
                    "species" : "lion",
                    "foods": {
                        "likes": ["meat", "chicken"],
                        "dislikes": ["water", "boring"]
                    },
                    "description": "this lion is cute and it say Grrr!"
                    }
                ]
            },
            methods: {
            
            },
            computed: {
                userActive() {
                    return this.listUser.filter(function(u) {
                        return u.isActive;
                    });
                }
            }

        })
    </script>
</html>